*.sublime-project
*.sublime-workspace

*~
*.lock
*.DS_Store
*.swp
*.out

.project
logs
sitemap.xml
sitemap.xml.gz
wordpress

wp-content/cache

wp-content/plugins/db-cache-reloaded-fix/cache
wp-content/plugins/special-recent-posts/cache/
wp-content/cache
!wp-content/w3tc/pgcache/.htaccess
!wp-content/w3tc/min/.htaccess
wp-content/w3tc
